@font-face {
    font-family: Bungee Spice;
    src: url(fonts/a_Bungee_Spice.ttf);
}
@font-face {
    font-family: Bebas Neue;
    src: url(fonts/a_Bebas_Neue.ttf);
}
*{
    padding: 0;
    margin: 0;
}
body{
    /* background-image: url("https://e0.pxfuel.com/wallpapers/737/835/desktop-wallpaper-flappy-generator-plus-create-your-own-flappy-bird-game-background.jpg"); */
    background-color: rgb(115,224,255);
}
.game-container{
    background-image: url(images/a_bg.png);
    background-size: cover;
    overflow : hidden;
    position : relative;
    width:60vw;
    height:90vh;
    /* background-color: red; */
    margin: 30px auto;
    border : 1px solid black;
    border-radius: 20px;
}
.score{
    z-index: 99;
    font-family:Bebas Neue;
    position:absolute;
    border : 1px solid black;
    padding: 7px;
    border-radius: 10px;
    right: 0;
    margin: 10px;
    font-size: 1.5rem;
    color:rgb(124, 36, 36);
    background-color: rgba(125, 189, 83, 0.933);
}
.score:hover{
    color:rgba(125, 189, 83, 0.933);
    background-color: rgb(124, 36, 36);
}
#highestScore {
    z-index: 99;
    font-family:Bebas Neue;
    position:absolute;
    border : 1px solid black;
    padding: 7px;
    border-radius: 10px;
    left: 0;
    margin: 10px;
    font-size: 1.5rem;
    color:rgb(124, 36, 36);
    background-color: rgba(125, 189, 83, 0.933);
}
.game-over{
    visibility: hidden;
    font-size : 5rem;
    position : absolute;
    left : 22%;
    top : 40%;
    /* transform: translate(-50%,%); */
    z-index : 99;
    font-family : Bungee Spice;
}
.restart-btn{
    font-family:Bebas Neue;
    font-weight : 900;
    visibility: hidden;
    z-index: 99;
    font-size:1.2rem;
    padding: 2px 9px;
    border-radius:10px;
    color:rgb(40, 40, 203);
    background-color: rgb(188, 221, 80);
    position: absolute;
    left : 45%;
    top : 60%;
}
.restart-btn:hover{
    color:rgb(188, 221, 80);
    background-color: rgb(40, 40, 203);
    cursor:pointer;
}
.pipe{
    background-image: url(images/a_pipe.png);
    position : absolute;
    height : 100%;
    width : 70px;
    /* background-color: green; */
    right : 0;
}
.animate-article{
    animation : pipe_animation 2s infinite linear;
}
@keyframes pipe_animation{
    0%{
        left:100%;
    }
    100%{
        left:-10%;
    }
}
.hole{
    position:absolute;
    height:200px;
    top:10px;
    width:70px;
    background-color: rgb(118,225,255);
    right: 0;
}
.bird{
    position:absolute;
    height:60px;
    width:80px;
    top:30px;
    left:5px;
    /* background-color: red; */
    background-image: url("images/a_bird_up.png");
    background-size: 100%;
}
.bird_change{
    background-image: url("images/a_bird_down.png");
    background-size: 100%;
}
.bird_die{
    background-image: url("images/a_bird_die.png");
    background-size: 99%;
}

@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
  }